# Environment variables
.env
.env.*

# Backend build files
backend/target/
backend/bin/

# Frontend dependencies and build files
frontend/node_modules/
frontend/dist/

# Kubernetes secrets
k8s/postgres-secret.yaml
